.dialogs .dialogs__sections {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: calc(var(--gutter) * 2);
}

.dialogs .dialogs__list {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: calc(var(--gutter) * 2);
	margin: calc(var(--gutter) * 2) 0 0 0;
	padding: 0;
}

@media screen and (min-width: 768px) {
	.dialogs .dialogs__list {
		display: flex;
		gap: calc(var(--gutter) * 2);
	}
}

.dialogs .dialogs__list li {
	list-style: none;
}
