.nav {
	transition: all 200ms;
	transform: translateX(-100%);
	background-color: var(--c-black);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: var(--c-white);
	z-index: 1000;
}

@media screen and (min-width: 1024px) {
	.nav {
		width: 300px;
		transform: translateX(0);
	}
}

.nav .nav__mask {
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

.nav .nav__header {
	display: flex;
	align-items: center;
	padding: calc(var(--gutter) * 4);
}

.nav .nav__title {
	margin: 0;
}

.nav .nav__header svg {
	margin: 0 calc(var(--gutter) * 3) 0 0;
	width: calc(var(--gutter) * 3);
}

.nav .nav__header path {
	fill: var(--c-white);
}

.nav .nav__list {
	margin: 0;
	padding: 0;
}

.nav .nav__list .list__item {
	list-style: none;
}

.nav .nav__a {
	transition: all 200ms;
	display: flex;
	align-items: center;
	padding: calc(var(--gutter) * 2) calc(var(--gutter) * 4);
	width: 100%;
	font-size: 1.6rem;
	line-height: 1.6rem;
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
}

.nav .nav__a svg {
	margin: 0 var(--gutter) 0 0;
	width: calc(var(--gutter) * 3);
	height: auto;
}

.nav .nav__a path {
	fill: var(--c-white);
}

/* children */

.nav .nav__list .list__item .item__children {
	display: none;
	margin: 0 0 0 calc(var(--gutter) * 4);
	padding: 0;
}

/* active */

.nav .nav__list > .list__item > .nav__a.active + .item__children {
	display: block;
}

.nav .nav__list > .list__item > .nav__a.active {
	background-color: rgba(255, 255, 255, 0.1);
}

.nav .nav__list > .list__item > .item__children .nav__a.active {
	color: var(--c-white);
}

/* close btn */

.nav .nav__close {
	position: absolute;
	top: calc(var(--gutter) * 2);
	right: calc(var(--gutter) * 2);
}

@media screen and (min-width: 1024px) {
	.nav .nav__close {
		display: none;
	}
}

/* hover */

.nav .nav__a:hover {
	color: var(--c-white);
}

.nav .nav__a:hover path {
	fill: var(--c-white);
}

/* open */

.nav.nav--open {
	transform: translateX(0);
}
