.swatch {
	text-align: center;
}

.swatch .swatch__color {
	background-color: var(--c-grey-200);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	width: 100%;
	height: auto;
	margin: 0 0 var(--gutter) 0;
	aspect-ratio: 1 / 1;
}
