a:not(.btn) {
	color: var(--c-grey-800);
}

.btn {
	transition: all 200ms;
	background-color: var(--c-black);
	border: 1px transparent solid;
	border-radius: calc(var(--gutter) / 2);
	position: relative;
	padding: calc(var(--gutter) * 1.5);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--gutter);
	width: 100%;
	cursor: pointer;
	font: inherit;
	font-weight: 500;
	font-variation-settings: 'wght' 500;
	text-decoration: none;
	color: var(--c-white);
	appearance: none;
}

@media screen and (min-width: 768px) {
	.btn {
		padding: calc(var(--gutter) * 1.5) calc(var(--gutter) * 6);
		justify-content: flex-start;
		width: auto;
	}
}

.btn .btn__text {
	position: relative;
}

.btn .btn__icon {
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn .btn__icon svg {
	width: calc(var(--gutter) * 3);
	height: auto;
	max-height: calc(var(--gutter) * 2);
}

.btn .btn__icon path {
	transition: all 200ms;
	fill: var(--c-white);
}

.btn:not(:disabled)::before {
	transition: all 200ms;
	background-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	opacity: 0;
}

.btn:not(:disabled):hover::before {
	opacity: 1;
}

.btn:not(:disabled):hover path {
	fill: var(--c-white);
}

.btn:disabled {
	background-color: var(--c-grey-300);
	color: var(--c-grey-800);
	cursor: default;
}

/* dark */

.btn.btn--light {
	color: rgba(0, 0, 0, 0.7);
}

/* colors */

.btn.btn--amber-50 {
	background-color: var(--c-amber-50);
}

.btn.btn--amber-100 {
	background-color: var(--c-amber-100);
}

.btn.btn--amber-200 {
	background-color: var(--c-amber-200);
}

.btn.btn--amber-300 {
	background-color: var(--c-amber-300);
}

.btn.btn--amber-400 {
	background-color: var(--c-amber-400);
}

.btn.btn--amber-500 {
	background-color: var(--c-amber-500);
}

.btn.btn--amber-600 {
	background-color: var(--c-amber-600);
}

.btn.btn--amber-700 {
	background-color: var(--c-amber-700);
}

.btn.btn--amber-800 {
	background-color: var(--c-amber-800);
}

.btn.btn--amber-900 {
	background-color: var(--c-amber-900);
}

.btn.btn--blue-50 {
	background-color: var(--c-blue-50);
}

.btn.btn--blue-100 {
	background-color: var(--c-blue-100);
}

.btn.btn--blue-200 {
	background-color: var(--c-blue-200);
}

.btn.btn--blue-300 {
	background-color: var(--c-blue-300);
}

.btn.btn--blue-400 {
	background-color: var(--c-blue-400);
}

.btn.btn--blue-500 {
	background-color: var(--c-blue-500);
}

.btn.btn--blue-600 {
	background-color: var(--c-blue-600);
}

.btn.btn--blue-700 {
	background-color: var(--c-blue-700);
}

.btn.btn--blue-800 {
	background-color: var(--c-blue-800);
}

.btn.btn--blue-900 {
	background-color: var(--c-blue-900);
}

.btn.btn--blue-grey-50 {
	background-color: var(--c-blue-grey-50);
}

.btn.btn--blue-grey-100 {
	background-color: var(--c-blue-grey-100);
}

.btn.btn--blue-grey-200 {
	background-color: var(--c-blue-grey-200);
}

.btn.btn--blue-grey-300 {
	background-color: var(--c-blue-grey-300);
}

.btn.btn--blue-grey-400 {
	background-color: var(--c-blue-grey-400);
}

.btn.btn--blue-grey-500 {
	background-color: var(--c-blue-grey-500);
}

.btn.btn--blue-grey-600 {
	background-color: var(--c-blue-grey-600);
}

.btn.btn--blue-grey-700 {
	background-color: var(--c-blue-grey-700);
}

.btn.btn--blue-grey-800 {
	background-color: var(--c-blue-grey-800);
}

.btn.btn--blue-grey-900 {
	background-color: var(--c-blue-grey-900);
}

.btn.btn--brown-50 {
	background-color: var(--c-brown-50);
}

.btn.btn--brown-100 {
	background-color: var(--c-brown-100);
}

.btn.btn--brown-200 {
	background-color: var(--c-brown-200);
}

.btn.btn--brown-300 {
	background-color: var(--c-brown-300);
}

.btn.btn--brown-400 {
	background-color: var(--c-brown-400);
}

.btn.btn--brown-500 {
	background-color: var(--c-brown-500);
}

.btn.btn--brown-600 {
	background-color: var(--c-brown-600);
}

.btn.btn--brown-700 {
	background-color: var(--c-brown-700);
}

.btn.btn--brown-800 {
	background-color: var(--c-brown-800);
}

.btn.btn--brown-900 {
	background-color: var(--c-brown-900);
}

.btn.btn--cyan-50 {
	background-color: var(--c-cyan-50);
}

.btn.btn--cyan-100 {
	background-color: var(--c-cyan-100);
}

.btn.btn--cyan-200 {
	background-color: var(--c-cyan-200);
}

.btn.btn--cyan-300 {
	background-color: var(--c-cyan-300);
}

.btn.btn--cyan-400 {
	background-color: var(--c-cyan-400);
}

.btn.btn--cyan-500 {
	background-color: var(--c-cyan-500);
}

.btn.btn--cyan-600 {
	background-color: var(--c-cyan-600);
}

.btn.btn--cyan-700 {
	background-color: var(--c-cyan-700);
}

.btn.btn--cyan-800 {
	background-color: var(--c-cyan-800);
}

.btn.btn--cyan-900 {
	background-color: var(--c-cyan-900);
}

.btn.btn--deep-orange-50 {
	background-color: var(--c-deep-orange-50);
}

.btn.btn--deep-orange-100 {
	background-color: var(--c-deep-orange-100);
}

.btn.btn--deep-orange-200 {
	background-color: var(--c-deep-orange-200);
}

.btn.btn--deep-orange-300 {
	background-color: var(--c-deep-orange-300);
}

.btn.btn--deep-orange-400 {
	background-color: var(--c-deep-orange-400);
}

.btn.btn--deep-orange-500 {
	background-color: var(--c-deep-orange-500);
}

.btn.btn--deep-orange-600 {
	background-color: var(--c-deep-orange-600);
}

.btn.btn--deep-orange-700 {
	background-color: var(--c-deep-orange-700);
}

.btn.btn--deep-orange-800 {
	background-color: var(--c-deep-orange-800);
}

.btn.btn--deep-orange-900 {
	background-color: var(--c-deep-orange-900);
}

.btn.btn--deep-purple-50 {
	background-color: var(--c-deep-purple-50);
}

.btn.btn--deep-purple-100 {
	background-color: var(--c-deep-purple-100);
}

.btn.btn--deep-purple-200 {
	background-color: var(--c-deep-purple-200);
}

.btn.btn--deep-purple-300 {
	background-color: var(--c-deep-purple-300);
}

.btn.btn--deep-purple-400 {
	background-color: var(--c-deep-purple-400);
}

.btn.btn--deep-purple-500 {
	background-color: var(--c-deep-purple-500);
}

.btn.btn--deep-purple-600 {
	background-color: var(--c-deep-purple-600);
}

.btn.btn--deep-purple-700 {
	background-color: var(--c-deep-purple-700);
}

.btn.btn--deep-purple-800 {
	background-color: var(--c-deep-purple-800);
}

.btn.btn--deep-purple-900 {
	background-color: var(--c-deep-purple-900);
}

.btn.btn--green-50 {
	background-color: var(--c-green-50);
}

.btn.btn--green-100 {
	background-color: var(--c-green-100);
}

.btn.btn--green-200 {
	background-color: var(--c-green-200);
}

.btn.btn--green-300 {
	background-color: var(--c-green-300);
}

.btn.btn--green-400 {
	background-color: var(--c-green-400);
}

.btn.btn--green-500 {
	background-color: var(--c-green-500);
}

.btn.btn--green-600 {
	background-color: var(--c-green-600);
}

.btn.btn--green-700 {
	background-color: var(--c-green-700);
}

.btn.btn--green-800 {
	background-color: var(--c-green-800);
}

.btn.btn--green-900 {
	background-color: var(--c-green-900);
}

.btn.btn--grey-50 {
	background-color: var(--c-grey-50);
}

.btn.btn--grey-100 {
	background-color: var(--c-grey-100);
}

.btn.btn--grey-200 {
	background-color: var(--c-grey-200);
}

.btn.btn--grey-300 {
	background-color: var(--c-grey-300);
}

.btn.btn--grey-400 {
	background-color: var(--c-grey-400);
}

.btn.btn--grey-500 {
	background-color: var(--c-grey-500);
}

.btn.btn--grey-600 {
	background-color: var(--c-grey-600);
}

.btn.btn--grey-700 {
	background-color: var(--c-grey-700);
}

.btn.btn--grey-800 {
	background-color: var(--c-grey-800);
}

.btn.btn--grey-900 {
	background-color: var(--c-grey-900);
}

.btn.btn--indigo-50 {
	background-color: var(--c-indigo-50);
}

.btn.btn--indigo-100 {
	background-color: var(--c-indigo-100);
}

.btn.btn--indigo-200 {
	background-color: var(--c-indigo-200);
}

.btn.btn--indigo-300 {
	background-color: var(--c-indigo-300);
}

.btn.btn--indigo-400 {
	background-color: var(--c-indigo-400);
}

.btn.btn--indigo-500 {
	background-color: var(--c-indigo-500);
}

.btn.btn--indigo-600 {
	background-color: var(--c-indigo-600);
}

.btn.btn--indigo-700 {
	background-color: var(--c-indigo-700);
}

.btn.btn--indigo-800 {
	background-color: var(--c-indigo-800);
}

.btn.btn--indigo-900 {
	background-color: var(--c-indigo-900);
}

.btn.btn--light-blue-50 {
	background-color: var(--c-light-blue-50);
}

.btn.btn--light-blue-100 {
	background-color: var(--c-light-blue-100);
}

.btn.btn--light-blue-200 {
	background-color: var(--c-light-blue-200);
}

.btn.btn--light-blue-300 {
	background-color: var(--c-light-blue-300);
}

.btn.btn--light-blue-400 {
	background-color: var(--c-light-blue-400);
}

.btn.btn--light-blue-500 {
	background-color: var(--c-light-blue-500);
}

.btn.btn--light-blue-600 {
	background-color: var(--c-light-blue-600);
}

.btn.btn--light-blue-700 {
	background-color: var(--c-light-blue-700);
}

.btn.btn--light-blue-800 {
	background-color: var(--c-light-blue-800);
}

.btn.btn--light-blue-900 {
	background-color: var(--c-light-blue-900);
}

.btn.btn--light-green-50 {
	background-color: var(--c-light-green-50);
}

.btn.btn--light-green-100 {
	background-color: var(--c-light-green-100);
}

.btn.btn--light-green-200 {
	background-color: var(--c-light-green-200);
}

.btn.btn--light-green-300 {
	background-color: var(--c-light-green-300);
}

.btn.btn--light-green-400 {
	background-color: var(--c-light-green-400);
}

.btn.btn--light-green-500 {
	background-color: var(--c-light-green-500);
}

.btn.btn--light-green-600 {
	background-color: var(--c-light-green-600);
}

.btn.btn--light-green-700 {
	background-color: var(--c-light-green-700);
}

.btn.btn--light-green-800 {
	background-color: var(--c-light-green-800);
}

.btn.btn--light-green-900 {
	background-color: var(--c-light-green-900);
}

.btn.btn--lime-50 {
	background-color: var(--c-lime-50);
}

.btn.btn--lime-100 {
	background-color: var(--c-lime-100);
}

.btn.btn--lime-200 {
	background-color: var(--c-lime-200);
}

.btn.btn--lime-300 {
	background-color: var(--c-lime-300);
}

.btn.btn--lime-400 {
	background-color: var(--c-lime-400);
}

.btn.btn--lime-500 {
	background-color: var(--c-lime-500);
}

.btn.btn--lime-600 {
	background-color: var(--c-lime-600);
}

.btn.btn--lime-700 {
	background-color: var(--c-lime-700);
}

.btn.btn--lime-800 {
	background-color: var(--c-lime-800);
}

.btn.btn--lime-900 {
	background-color: var(--c-lime-900);
}

.btn.btn--orange-50 {
	background-color: var(--c-orange-50);
}

.btn.btn--orange-100 {
	background-color: var(--c-orange-100);
}

.btn.btn--orange-200 {
	background-color: var(--c-orange-200);
}

.btn.btn--orange-300 {
	background-color: var(--c-orange-300);
}

.btn.btn--orange-400 {
	background-color: var(--c-orange-400);
}

.btn.btn--orange-500 {
	background-color: var(--c-orange-500);
}

.btn.btn--orange-600 {
	background-color: var(--c-orange-600);
}

.btn.btn--orange-700 {
	background-color: var(--c-orange-700);
}

.btn.btn--orange-800 {
	background-color: var(--c-orange-800);
}

.btn.btn--orange-900 {
	background-color: var(--c-orange-900);
}

.btn.btn--pink-50 {
	background-color: var(--c-pink-50);
}

.btn.btn--pink-100 {
	background-color: var(--c-pink-100);
}

.btn.btn--pink-200 {
	background-color: var(--c-pink-200);
}

.btn.btn--pink-300 {
	background-color: var(--c-pink-300);
}

.btn.btn--pink-400 {
	background-color: var(--c-pink-400);
}

.btn.btn--pink-500 {
	background-color: var(--c-pink-500);
}

.btn.btn--pink-600 {
	background-color: var(--c-pink-600);
}

.btn.btn--pink-700 {
	background-color: var(--c-pink-700);
}

.btn.btn--pink-800 {
	background-color: var(--c-pink-800);
}

.btn.btn--pink-900 {
	background-color: var(--c-pink-900);
}

.btn.btn--purple-50 {
	background-color: var(--c-purple-50);
}

.btn.btn--purple-100 {
	background-color: var(--c-purple-100);
}

.btn.btn--purple-200 {
	background-color: var(--c-purple-200);
}

.btn.btn--purple-300 {
	background-color: var(--c-purple-300);
}

.btn.btn--purple-400 {
	background-color: var(--c-purple-400);
}

.btn.btn--purple-500 {
	background-color: var(--c-purple-500);
}

.btn.btn--purple-600 {
	background-color: var(--c-purple-600);
}

.btn.btn--purple-700 {
	background-color: var(--c-purple-700);
}

.btn.btn--purple-800 {
	background-color: var(--c-purple-800);
}

.btn.btn--purple-900 {
	background-color: var(--c-purple-900);
}

.btn.btn--red-50 {
	background-color: var(--c-red-50);
}

.btn.btn--red-100 {
	background-color: var(--c-red-100);
}

.btn.btn--red-200 {
	background-color: var(--c-red-200);
}

.btn.btn--red-300 {
	background-color: var(--c-red-300);
}

.btn.btn--red-400 {
	background-color: var(--c-red-400);
}

.btn.btn--red-500 {
	background-color: var(--c-red-500);
}

.btn.btn--red-600 {
	background-color: var(--c-red-600);
}

.btn.btn--red-700 {
	background-color: var(--c-red-700);
}

.btn.btn--red-800 {
	background-color: var(--c-red-800);
}

.btn.btn--red-900 {
	background-color: var(--c-red-900);
}

.btn.btn--teal-50 {
	background-color: var(--c-teal-50);
}

.btn.btn--teal-100 {
	background-color: var(--c-teal-100);
}

.btn.btn--teal-200 {
	background-color: var(--c-teal-200);
}

.btn.btn--teal-300 {
	background-color: var(--c-teal-300);
}

.btn.btn--teal-400 {
	background-color: var(--c-teal-400);
}

.btn.btn--teal-500 {
	background-color: var(--c-teal-500);
}

.btn.btn--teal-600 {
	background-color: var(--c-teal-600);
}

.btn.btn--teal-700 {
	background-color: var(--c-teal-700);
}

.btn.btn--teal-800 {
	background-color: var(--c-teal-800);
}

.btn.btn--teal-900 {
	background-color: var(--c-teal-900);
}

.btn.btn--yellow-50 {
	background-color: var(--c-yellow-50);
}

.btn.btn--yellow-100 {
	background-color: var(--c-yellow-100);
}

.btn.btn--yellow-200 {
	background-color: var(--c-yellow-200);
}

.btn.btn--yellow-300 {
	background-color: var(--c-yellow-300);
}

.btn.btn--yellow-400 {
	background-color: var(--c-yellow-400);
}

.btn.btn--yellow-500 {
	background-color: var(--c-yellow-500);
}

.btn.btn--yellow-600 {
	background-color: var(--c-yellow-600);
}

.btn.btn--yellow-700 {
	background-color: var(--c-yellow-700);
}

.btn.btn--yellow-800 {
	background-color: var(--c-yellow-800);
}

.btn.btn--yellow-900 {
	background-color: var(--c-yellow-900);
}

/* text */

.btn.btn--text {
	background-color: transparent;
	border-radius: 0;
	padding: 0;
	width: auto;
	color: var(--c-black);
}

.btn.btn--text .btn__icon {
	border: 2px var(--c-grey-800) solid;
	border-radius: 50%;
	width: calc(var(--gutter) * 3);
	height: calc(var(--gutter) * 3);
}

.btn.btn--text .btn__icon svg {
	width: 50%;
}

.btn.btn--text.btn--backward .btn__icon svg {
	transform: rotate(180deg);
}

.btn.btn--text:not(:disabled):hover {
	background-color: transparent;
	text-decoration: underline;
	color: var(--c-black);
}

.btn.btn--text:not(:disabled) path {
	fill: var(--c-black);
}

.btn.btn--text:not(:disabled):hover path {
	fill: var(--c-black);
}

.btn.btn--text:disabled {
	color: var(--c-grey-600);
}

.btn.btn--text:disabled .btn__icon {
	border-color: var(--c-grey-600);
}

.btn.btn--text:disabled path {
	fill: var(--c-grey-600);
}

/* full */

.btn.btn--full {
	width: 100%;
	justify-content: center;
}

/* small */

.btn.btn--sm {
	padding: calc(var(--gutter) * 1) calc(var(--gutter) * 3);
}

/* straight */

.btn.btn--straight {
	border-radius: 0;
}

/* icon */

.btn.btn--icon {
	background-color: var(--c-black);
	border-radius: 50%;
	padding: 0;
	width: calc(var(--gutter) * 4);
	height: calc(var(--gutter) * 4);
	justify-content: center;
}

.btn.btn--icon .btn__icon {
	margin: 0;
	width: 40%;
	height: auto;
}

.btn.btn--icon.btn--transparent {
	background-color: transparent;
}

.btn.btn--icon.btn--transparent:hover {
	background-color: var(--c-grey-800);
}

.btn.btn--icon.btn--sm {
	width: calc(var(--gutter) * 3);
	height: calc(var(--gutter) * 3);
}

/* uppercase */

.btn.btn--uppercase {
	letter-spacing: 0.5px;
	text-transform: uppercase;
}
