.wrappers .wrappers__wrappers {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: calc(var(--gutter) * 2);
}

.wrappers .wrappers__examples {
	margin: 0;
}

.wrappers .wrappers__onethird {
	grid-column: 1 / 5;
}

.wrappers .wrappers__twothirds {
	grid-column: 5 / -1;
}
