.section {
	display: flex;
	padding: calc(2 * var(--gutter)) 0;
	width: 100%;
}

.section.section--vcenter {
	align-items: center;
}

.section.section--vh {
	min-height: 100vh;
}

@media screen and (min-width: 768px) {
	.section {
		padding: calc(4 * var(--gutter)) 0;
	}
}

@media screen and (min-width: 1024px) {
	.section {
		padding: calc(10 * var(--gutter)) 0;
	}
}
