.cards .cards__sections {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: calc(var(--gutter) * 2);
}

.cards .cards__list {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: calc(var(--gutter) * 2);
	margin: 0;
	padding: 0;
}

@media screen and (min-width: 768px) {
	.cards .cards__list {
		grid-template-columns: repeat(3, 1fr);
		gap: calc(var(--gutter) * 2);
	}
}

.cards .cards__list li {
	list-style: none;
}
