.card {
	background-color: var(--c-white);
	border: 1px var(--c-grey-500) solid;
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.card .card__img {
	border-bottom: 1px var(--c-grey-500) solid;
	display: block;
	width: 100%;
	height: 160px;
	object-fit: cover;
}

.card .card__header {
	padding: calc(var(--gutter) * 2) calc(var(--gutter) * 2) 0 calc(var(--gutter) * 2);
}

.card .card__title {
	margin: 0;
}

.card .card__content {
	padding: calc(var(--gutter) * 2);
}

.card .card__action {
	padding: calc(var(--gutter) * 2);
}
