.wrapper {
	max-width: var(--mq-max);
	width: 100%;
	padding: 0 calc(var(--gutter) * 2);
	margin: 0 auto;
}

@media screen and (min-width: 768px) {
	.wrapper {
		padding: 0 calc(var(--gutter) * 3);
	}
}

/* grid */

.wrapper--grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: calc(var(--gutter) * 2);
}
